/* go up button */

#goUp {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 25px;
    border: 1px solid #73AD21;
}


/* navbar input and buttons */

.my-2 {
    font-size: 1.3rem;
    padding: .375rem;
}

input {
    padding: 15px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    font-size: large;
    text-align: center;
}

button:hover,
#goUp:hover {
    background-color: #4CAF50;
    color: white;
}


/* the nev will stay on screen */

.sticky {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 150;
    width: 100%;
}


/* mote info and coin card */

.getInfo {
    position: absolute;
    top: 171px;
}

img {
    width: 160px;
    height: 160px;
    margin-left: -5px;
}

.collapse {
    min-height: 392px;
}

.card-title {
    margin-left: -31px;
    font-size: 1.6rem;
    font-weight: bolder;
}

.card-text {
    font-size: 18px;
}

.card-body {
    position: absolute;
    top: 200px;
}

.coinDiv {
    border-radius: 25px;
    border: 1px solid #73AD21;
    margin: 7px;
    box-shadow: 2px 2px 2px chocolate;
    max-width: 229px;
    min-height: 220px;
}

.coinDiv:nth-child(odd) {
    background-color: lightgoldenrodyellow;
}

.coinDiv:nth-child(even) {
    background-color: lightcyan;
}

.coinDiv:hover {
    background-color: lightskyblue;
}

.row {
    margin: 0%;
    padding: 1.25rem;
}

.form-inline {
    flex-flow: nowrap;
}


/*modal */

.coins {
    padding-left: 15px;
}


/* parallax */

body,
html,
header {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

.bgimg-1,
.bgimg-2 {
    position: relative;
    opacity: 0.75;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.bgimg-3 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("img/homeHeader.jpg");
    min-height: 50%;
}

.bgimg-2 {
    background-image: url("img/homeHeader.jpg");
    min-height: 50%;
}

.bgimg-3 {
    background-image: url("img/bgCoins.jpg");
    min-height: 100%;
}

.caption {
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption>span {
    line-height: normal;
    color: #fff;
    font-size: 53px;
    text-shadow: 4px 4px 4px rgb(247, 22, 22);
}


/* parallax end */


/*switch*/

.switch {
    position: absolute;
    right: 10px;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/*switch end*/


/* spinner for div */

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid lightblue;
    border-right: 16px solid lightgreen;
    border-bottom: 16px solid lightslategray;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* spinner for div end*/